<!DOCTYPE html>
<html>
<head>
  <title>climbmax</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
  <style>
    body, h1, h5 {
      font-family: "Raleway", sans-serif;
    }
    body, html {
      height: 100%;
    }
    .bgimg {
      background-color: black;
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }
    .logo-text {
      font-family: 'Orbitron', sans-serif;
      font-size: 60px;
      color: yellow;
    }
    .black-and-white {
      color: white;
    }
  </style>
</head>
<body>

<div class="bgimg w3-display-container w3-text-yellow">
  <div class="w3-display-middle w3-jumbo">
    <p class="logo-text">Climb AI</p>
  </div>
  <div class="w3-display-topleft w3-container w3-xlarge">
    <p><a href="{{ url_for('classification') }}" class="w3-button w3-black">Classification</a></p>
    <p><a href="{{ url_for('generator') }}" class="w3-button w3-black">Generator</a></p>
    <p><button onclick="document.getElementById('About').style.display='block'" class="w3-button w3-black">About</button></p>
  </div>

  <div class="w3-display-bottomleft w3-container black-and-white">
    <p class="w3-xlarge">linkedIn</p>
    <p class="w3-large">San Francisco</p>
    <p>powered by <a href="" target="_blank" style="color: white;">local jobless students</a></p>
  </div>
</div>

<div id="About" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('About').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
      <h1>About</h1>
    </div>
    <div class="w3-container">
      <p>About this project</p>
      <p>Welcome to 'name_here'. Click the generator button, then choose a difficulty. A climbing route of that difficulty will be created. To create a climb, choose classification, create a route by clicking on holds, and our app will classify the grade.</p>
    </div>
  </div>
</div>

</body>
</html>